{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
</head>
<body style="background-color: aliceblue;">
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-12">
                <a href="/">Back</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="display-4">About Us</h1>
                <p class="lead">Welcome to our Blog Website!</p>
                <hr class="my-4">
                <p>Our blog is a platform where we share our thoughts, experiences, and insights on a wide range of topics. Our mission is to provide valuable content that can inform, inspire, and entertain our readers.</p>
                <p>We believe in the power of words and the impact they can have on our lives. Whether you are looking for advice, knowledge, or just a good read, our blog aims to be your go-to destination.</p>
                <p>Thank you for visiting our blog. We hope you enjoy your time here and find our content useful and engaging. Feel free to reach out to us with any questions or feedback.</p>
            </div>
        </div>
    </div>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
</body>
</html>